// Media query breakpoints.
$breakpoint-mobile: 480px + 1px;
$breakpoint-small: 	640px + 1px;
$breakpoint-medium: 960px + 1px;
$breakpoint-big: 	1200px + 1px;

$font-content: "Helvetica", Arial;
$font-secondary: "Georgia";

$color-primary: #2282ef;
$color-secondary: #d37fbc;
$color-silver: #a8aeb4;
$color-gray: #555;
$color-light: #f0f0f0;
$color-dark: #2c2c33;

// Specifics
$color-site-background: #f0f0f0;

// Use animations for the theme. Disable if you want higher performance.
$settings-animation: true !default;

// The width of the aside containing the pages navigation.
$settings-viewport-aside-width: 250px;

// How will the whole theme be rendered.
$settings-view: "cosy" !default; // "compact" | "comfortable" | "cosy"

// Set the default main-content width whitout the paddings.
$settings-main-content-width: 800px !default;